<p> Bonjour <%= @admin.email %>,</p>
<br>
<p>L'application compte:</p>
<p>- <%= @users %> utilisateurs</p>
<p>- <%= @tasks_created %> tâches créées</p>
<p>- <%= @tasks_completed %> tâches terminées</p>
<br>
<p>Bonne journée!</p>
