<div class="banner d-flex justify-content-center align-items-center text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/id/1073/5472/3648);">
  <div class="">
      <h1>Gagnez du temps, faites des listes!</h1>
      <a class="btn btn-flat btn-success" href="#">Commencer</a>
  </div>
</div>
