<div class="banner d-flex justify-content-center align-items-center text-center">
  <div>
      <h1>Gagnez du temps, faites des listes !</h1>
      <%= link_to 'Commencer', lists_path, class: "btn btn-success m-4 p-2", id: "start-button" %>
  </div>
</div>
