<div class="banner d-flex justify-content-center align-items-center text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/id/4/2000/1000);">
  <div class="">
      <h1>Gagnez du temps, faites des listes!</h1>
      <%= link_to 'Commencer', lists_path, class: "btn btn-flat btn-success" %>
  </div>
</div>
