// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url("https://picsum.photos/id/4/2000/1000");
  background-size: cover;
  text-align: center;
  color: white;
  height: 95vh;
}

#start-button {
  opacity: 1;
  color: white !important;
}
