// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.create-list{
  background-color: #ebebeb;
  text-align: center;
}
.list-style {
  background-color: #ebebeb;
  height: 88vh;
}

